# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
ipch/

# Object files
*.obj
*.idb
*.ilk
*.pch
*.exp

# Program database files
*.pdb

# Executables
*.exe

# Dynamic libraries
*.dll

# Ignore only generated game libs
client.lib
server.lib

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Windows
Thumbs.db
Desktop.ini